.book {
   border: 2px solid black;
   box-shadow: 0rem 0.5rem 0rem rgb(201, 189, 189);
   border-radius: 1rem;
   width: 80%;
   margin-left: 10%;
   margin-top: 6rem;
   height: 35rem;
}
.book__container {
   display: grid;
   grid-template-columns: 40% 45%;
}
.book__cover {
   height: 100%;
}
.book__cover img {
   padding-top: 0.5rem;
   padding-left: 1rem;
   height: 23rem;
   width: 20rem;
   border-radius: 1rem;
}
.book__cover img:hover {
   filter: grayscale(30%);
}
.book__details {
   display: flex;
   flex-direction: column;
}
.book__title h1{
   font-weight: 800;
   font-size: 2rem;
   font-style: italic;
   margin-bottom: 1rem;
   margin-top: 1rem;
}
.book__title p {
   font-weight: 500;
   word-spacing: 1.5px;
   margin-bottom: 2rem;
}
.book__title {
   border-bottom: 2px solid gray;
   margin-bottom: 1rem;
   padding-left: 0;

}
