/* .container {
    width: 86%;
    max-width: 1920px;
    margin: 0 auto;
} */


footer {
    background: rgb(193, 143, 240);
    font-size: 0.9rem;
    color: var(--color-gray-100);
}

.footer__container {
    background: blueviolet;
    display: grid;
    grid-template-columns: 26rem 1fr 1fr 1fr;
    gap: 6rem;
    height: 150px;
}

.footer__container article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.7rem;
}

.footer__container article p {
    margin-top: 0.2rem;
}

.footer__container article h4 {
    margin-bottom: 0.6rem;
    font-size: 1rem;
}

.footer__socials {
    margin-top: 1.5rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.footer__socials a {
    background: var(--color-primary-light);
    color: var(--color-white);
    padding: 0.7rem;
    border: 1px solid transparent;
    border-radius: 0.6rem;
    transition: var(--transition);
}

.footer__socials a svg {
    color: var(--color-white);
}

.footer__socials a:hover {
    border-color: var(--color-gray-100);
    background: transparent;
}

.footer__copyright {
    color: var(--color-white);
    text-align: center;
    padding: 1.5rem 0;
    border-top: 2px  ;
    margin-top: 5rem;
    margin-top: 0;
}
.footer__container article a {
    color: var(--color-gray);
}
.footer__container article h4 {
    color: var(--color-white);
}